/* Global styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
}

/** HEADER */
.logo-container,
.title-container {
    display: inline-block;
    vertical-align: middle;
}
.logo-container img {
    height: 170px;
    width: auto;
}
/** FIN HEADER */

a,
a:visited {
    color: #666666;
}

.clear {
    clear: both;
}

td {
    border-top: solid 1px #d3d3d3;
}

td,
th {
    padding: 10px;
}

table {
    border-collapse: collapse;
}

/* Documentation site component styles */
.example {
    border: solid 1px #d3d3d3;
    padding: 16px;
    margin-bottom: 16px;
    background-color: #f4f6f9;
}

.example h4:first-of-type {
    margin-top: 0;
}

.example p:last-of-type {
    margin-bottom: 0;
}

.props th,
td {
    text-align: left;
    padding: 5px;
}

.navigation {
    float: left;
    width: 250px;
    list-style-type: none;
    padding: 0;
}

.componentpage {
    margin-left: 275px;
}
